main {
    min-height: 80%;
}

h1 {
    text-align: center;
    background-color: #004767;
    color: antiquewhite;
    margin: 0;
}

ul {
    list-style-type: none;
}

.imgindex {
    img {
        width: 100vw;
        height: 700px;
    }
}

.buscador1 {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 300px;
        height: 50px;
        text-align: center;
    }
}

.login {
    display: flex;

    flex-direction: column;
    text-align: center;

    form {
        background-color: #55c5f8;


        h4 {
            text-align: center;
        }

        label {
            padding: 5px;
            margin-top: 10px;
        }

        input {
            text-align: center;
        }

        button {
            align-items: center;
            padding: 5px;
            margin-top: 20px;
            
        }
    }
}

#listaVideos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    li{
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
}

.servicios {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-template-areas: 
      "id-1 id-2"
      "id-3 id-4"
      "id-5 id-6"
      "id-7 id-8"
      "id-9 id-10"; 
      justify-items: center;
      align-items: start;
      margin: 0;
      padding: 0;
  }
  .id-1 { grid-area: id-1; }
  .id-2 { grid-area: id-2; }
  .id-3 { grid-area: id-3; }
  .id-4 { grid-area: id-4; }
  .id-5 { grid-area: id-5; }
  .id-6 { grid-area: id-6; }
  .id-7 { grid-area: id-7; }
  .id-8 { grid-area: id-8; }
  .id-9 { grid-area: id-9; }
  .id-10 { grid-area: id-10; };

#id-1{
    width: 400px;
}